body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Arial Black", cursive;
    filter: drop-shadow(0px 0px 1px grey);
}

footer {
    background-image: linear-gradient(to right, red, black);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, red, black);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar{
    background-color: black;
    filter: drop-shadow(0px 0px 1px black);

    
    
}
.nav-item:hover {
    background-image: linear-gradient(to right, black, rgba(255, 0, 0, 0.493));
    border-radius: 7px;
    filter: drop-shadow(0px 0px 8px rgba(255, 0, 0, 0.575));
    color: yellow;
  }

.img{
    filter: drop-shadow(0 0 0.90rem black);
}

.action-box{
    background-image: linear-gradient(to bottom right, rgba(165, 10, 10, 0.493),red);    
    color: black; 
    font-family: "Arial Black";
    border-radius: 7px;
}

nav li {
    display: inline-block;
    padding: 0px 5px;
    color: white;
}
card {
    background-image: linear-gradient(to right, black, rgba(255, 0, 0, 0.493));

}
.btn-odessaTkd{
    color: yellow;
    background-image: linear-gradient(to right, black, maroon);
    border-color: black;
}
.btn-odessaTkdWhite{
    color: white;
    background-image: linear-gradient(to right, black, maroon);
    border-color: black;
}

.transition{
    background-image: linear-gradient(to right, #b38d97, white);

}
.shadow{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #2b0c0c;

}

.tab-content{
    border: 1px solid #DDDD;
    border-top: none;
    padding: 10px;
}

.carousel-img{
    max-width: 300px;
    max-height:auto;
}
